<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-commerce Project</title>
    <link rel="stylesheet" href="../public/css/main.css">
</head>
<body>
    <header>
            <ul class="header">
                <li><a href="home.html">HOME</a></li>
                <li><a href="shop.html">STORE</a></li>
                <li><a href="aboutus.html">ABOUT</a></li>
                <li><a href="order.html">ORDER</a></li>
                <li ><a class='cart' href="">CART</a><span class="cart-number">0</span></li>
            </ul>
        <h1>The Generics</h1>
        <button id="latest-album-btn">Get our Latest Album</button>
        <button id="play-btn">►</button>
    </header>
    <section id="tours" class="çontainer">
        <h2>TOURS</h2>
        <div id="tour-list">
            <div class="tour-item">
                <span class="tour-date">JUL16</span>
                <span class="tour-place">DETROIT, MI</span>
                <span class="tour-spec-place">DTE ENERGY MUSIC THEATRE</span>
                <button class="buy-btn">BUY TICKETS</button>
            </div>
            <div class="tour-item">
                <span class="tour-date">JUL19</span>
                <span class="tour-place">TORONTO,ON</span>
                <span class="tour-spec-place">BUDWEISER STAGE</span>
                <button class="buy-btn">BUY TICKETS</button>
            </div>
            <div class="tour-item">
                <span class="tour-date">JUL 22</span>
                <span class="tour-place"> BRISTOW, VA</span>
                <span class="tour-spec-place">JIGGY LUBE LIVE</span>
                <button class="buy-btn">BUY TICKETS</button>
            </div>
            <div class="tour-item">
                <span class="tour-date">AUG 2</span>
                <span class="tour-place">LAS VEGAS, NV</span>
                <span class="tour-spec-place">T-MOBILE ARENA</span>
                <button class="buy-btn">BUY TICKETS</button>
            </div>
            <div class="tour-item">
                <span class="tour-date">AUG 7</span>
                <span class="tour-place">CONCORD, CA</span>
                <span class="tour-spec-place"> CONCORD PAVILION</span>
                <button class="buy-btn">BUY TICKETS</button>
            </div>
        </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    <script src="../public/js/shop.js"></script>
    <footer>
        <h2>The Generics</h2> 
        <ul class="footer">
            <li><a href="http://youtube.com" target="_blank"><img src="https://cdn-icons-png.flaticon.com/512/1384/1384060.png" alt=""></a></li>
            <li><a href="http://spotify.com" target="_blank"><img src="https://cdn-icons-png.flaticon.com/512/174/174872.png" alt=""></a></li>
            <li><a href="http://facebook.com" target="_blank"><img src="https://cdn-icons-png.flaticon.com/512/124/124010.png" alt=""></a></li>
        </ul>
    </footer>
</body>
</html>