
*{
    box-sizing: border-box;
    margin: 0;
}

header ul{
    display: flex;
    background-color: black;
    padding: 10px;
    font-size: 18px;    
    font-weight: 200;
    font-family: 'Courier New', Courier, monospace;
   justify-content: center;
    border-bottom: 0.1rem solid white;
    display: flex;
    position: fixed;
    top: 0%;
    width: 100%;
}

header li a{
    text-decoration: none;
    color:white;
    margin: 0px 40px;
} 
.cart{
    border-radius: 4px;
    border: 2px solid aquamarine;
    text-decoration: none;
    font-size: 18px;
    font-weight: 200;
    font-family: 'Courier New', Courier, monospace;
    color:white;
    padding: 2px 10px;
    position: absolute;
    right: 3%;

}
 
h1{
    background-color: gray;
    height: 200px;
    font-size: 100px;
    color: white;
    align-self: center;
    padding-top: 40px;
    width:100%;
    text-align: center;
}